aside{
    background: #39A9DB; 
    border-bottom: 1px solid gray;
}
.c ,.d{
    background: #40bcd8; 
    border-bottom: 1px solid gray;
}
.same-height{
    background: #40bcd8;
}
footer{
    background: #1c77c3; 
}